@model TodoListDal.Task
@{
    var deleteTaskId = string.Concat("deleteTask" + Model.ID);
    var deleteTaskhref = string.Concat("#deleteTask" + Model.ID);
    string btnStatusColor;
    string statusAction;
    string statusValue;
    if (Model.Status == "Completed")
    {
        statusValue = "In Progress";
        statusAction = "Resume";
        btnStatusColor = "deepskyblue";
    }
    else if (Model.Status == "In Progress")
    {
        statusValue = "Completed";
        statusAction = "Complete";
        btnStatusColor = "cadetblue";
    }
    else
    {
        statusValue = "In Progress";
        statusAction = "Start";
        btnStatusColor = "dodgerblue";
    }
}

<div class="nav justify-content-start">
    <div class="nav-item" style="margin-right:10px">
        <form asp-action="UpdateStatus" asp-controller="TaskManager">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ToDoListID" />
            <input type="hidden" asp-for="Status" value="@statusValue" />
            <button type="submit" class="btn my-2 my-sm-0 btn-primary" style="background-color:@btnStatusColor">@statusAction</button>
        </form>
    </div>
    <div class="nav-item" style="margin-right:10px">
        <form asp-action="Edit" asp-controller="TaskManager">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Title" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="Notes" />
            <input type="hidden" asp-for="IsVisible" />
            <input type="hidden" asp-for="DueDate" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="HasReminder" />
            <input type="hidden" asp-for="ReminderDuration" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="ToDoListID" />
            <input type="hidden" asp-for="EditMode" value="true" />
            <button type="submit" class="btn my-2 my-sm-0 btn-primary">Edit</button>
        </form>
    </div>
    <div class="nav-item" style="margin-right:10px">
        <form asp-action="UpdateVisible" asp-controller="TaskManager">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ToDoListID" />
            <input type="hidden" asp-for="IsVisible" value="false" />
            <button type="submit" class="btn my-2 my-sm-0 btn-primary">Hide</button>
        </form>
    </div>
    <div class="nav-item" style="margin-right:10px">
        <button class="btn my-2 my-sm-0 btn-danger" data-target="@deleteTaskhref" data-toggle="modal">Delete</button>
        <!-- Delete Modal -->
        <div class="modal" data-keyboard="false" data-backdrop="static" id="@deleteTaskId" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Model.Title</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title">Delete this task permanently?</h5>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete" asp-controller="TaskManager">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="ToDoListID" />
                            <button type="submit" class="btn my-2 my-sm-0 btn-danger">Yes</button>
                        </form>
                        <button class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Delete Modal -->
    </div>
</div>